body{
    background-color:#ECEEF1;
    margin: 20px;
}
.signin{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.signin button{
    background-color:#0077C5 ;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #4c4c4c; 
    border-radius: 5px;
    margin-left: 10px;

}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid;
}
.container > div{
    width: 500px;
}
.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;

}
#thumb{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.im{
    display: flex;
    justify-content: center;
    align-content: center;
}
.im img{
    width: 150px;
}
#thumb img{
    width: 30px;
    height: 30px;
    border-radius: 400%;
    margin-right: 5px;
    
}
#thumb span{
    font-family:AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin-right:20px;
}
.form{
    background-color: white;
    border: 1px solid rgb(109, 106, 106);   
}